{#
/**
 * @file
 * SpecBee Timer Block template.
 */
 #}

<div class="specbee-timer-eblock">
  <h1>{{ country }}, {{ city }} </h1><br />
  <div class="specbee-datetime">
    <strong>{{ datetime }}</strong>
  </div>
</div>
